@model IEnumerable<CIED.Models.Slot>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    @{
        ViewData["Title"] = "Index";
    }

    <h2>Slots</h2>

    <p>
        <a asp-action="Create">Agregar</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Importe)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fecha)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Identificador)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estatus)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Importe)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fecha)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Identificador)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Estatus)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.SlotID">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.SlotID">Detalle</a> |
                        <a asp-action="Delete" asp-route-id="@item.SlotID">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </main>