@model CIED.Models.Apunte
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    @{
        ViewData["Title"] = "Eliminar";
    }

    <h2>Eliminar</h2>

    <h3>Estás seguro que deseas eliminarlo?</h3>
    <div>
        <h4>Apunte</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Descripcion)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Descripcion)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Importe)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Importe)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Fecha)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Fecha)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Estatus)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Estatus)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.TipoApunteID)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.TipoApunte.Descripcion)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.EmpresaID)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Empresa.Descripcion)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.SlotID)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Slot.Descripcion)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CategoriaID)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Categoria.Descripcion)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="ApunteID" />
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            <a asp-action="Index">Regresar</a>
        </form>
    </div>
    </main>